@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    .logo {
      font-size: 150px;
      color: red;
      cursor: pointer;
      display: grid;
      place-items: center;
      margin: 20px 0 40px 0;
    }
}

.vocalizer {
    display: grid;
    place-items: center;
    height: 100vh;
    

}

.container {
    width: 400px;
    background: rgba(220, 220, 220, .3);
    border-radius: 30px;
    box-shadow: 0 0 20px -5px rgba(66, 68, 90, 1);
    padding: 40px;

}

.vocalizer__form {
    display: flex;
    flex-direction: column;
}


input[type=range] {
    width: 100%;
    margin: 8.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: rgba(172, 183, 210, 0.5);
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -8.5px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #acb7d2;
  }
  input[type=range]::-moz-range-track {
    background: rgba(172, 183, 210, 0.5);
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 23.3px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #acb7d2;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(172, 183, 210, 0.5);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(172, 183, 210, 0.5);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #acb7d2;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  