@import 'mini-reset';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'range-input';
@import 'select';


.logo {
  font-size: 150px;
  color: #3d85c6;
  cursor: pointer;
  display: grid;
  place-items: center;
  margin: 20px 0 40px 0;
  transition: .5s ease-in-out;
  i {
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  }
}

.vocalizer {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: rgba(220, 220, 220, .3);
    border-radius: 30px;
    box-shadow: 0 0 20px -5px rgba(66, 68, 90, 1);
    padding: 40px;
}

.vocalizer__form {
    display: flex;
    flex-direction: column;
}

.form__text {
  resize: none;
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
}

label {
  display: block;
  margin-top: 15px;
}

.container__btns {
  display: flex;
  justify-content: center;

  input {
    display: inline-block;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    color: #000;
    transition: 0.25s;
    border-radius: 4px;
  }

  input:hover,
  input:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #000;
  transform: translateY(-0.25em);
  }
}